@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;600&display=swap');

*{
    font-family: 'Barlow Condensed', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
/*Esta parte es los registros con google y twitter*/
.btn{
    display: flex;
    align-self: flex-start;
    gap: 20px;
    align-items: center;
}

.google-btn{
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 3px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    
}
.google-btn:hover{
    opacity: 0.75;
}

.google-btn picture{
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.google-btn picture img{
    width: 75%;
}

.google-btn span{
    color: white;
    font-weight:700; 
    padding: 15px;

}

.twitter-btn{
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.twitter-btn picture{
    width: 30px;
    height: 30px;
    display: flex;
    
}
.twitter-btn:hover{
background-color:  rgb(200, 200, 200);
}
/*separador*/
.separator
{
    display: flex;
    width: 100%;
    gap: 20px;
}
.separator hr{
    flex-grow: 1;
    border:  none;
    border-top:  1px solid #ccc;
}
/*separador*/
.separator span{
    color: #8b8b8b;
}
/*Formulario*/



/*input formulario*/
.seccion-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}
label {
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}
label span {
    font-weight: 800;
}
.seccion-inputs input {
    width: 80%;
    background-color: #f3f3f4;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    font-size: 14pt;
    outline: none;
}
label input {
    width: 100%;
    background-color: #f3f3f4;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    font-size: 14pt;
    outline: none;
}

label input:hover{
    background-color:  white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;
}
label input:focus{
    background-color:  white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;
}

.conditions label{
    display: flex;
    flex-direction: row;

}

.conditions label input[type="cheackbox"]{
    width: 20px;
}
.conditions span{
    font-weight: 400;
}